.Banner__title {
  color: red;
}

.card {
  background-color: lightgray;
  padding: 1em;
  text-align: center;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 1em;
  margin: 2rem 0;
  @media screen and (max-width: 1400px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}
