.banner {
  @include xs {
    color: red;
  }

  @include sm {
    color: blue;
  }

  @include md {
    color: green;
  }

  @include lg {
    color: yellow;
  }

  @include xl {
    color: peru;
  }
}
