.footer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 1.6rem;

  @include tablet {
    padding-bottom: 3.2rem;
  }

  &__logo {
    height: 1.25rem;
    z-index: $_z2;
    position: relative;
    display: block;
    background-color: $_dark-900;
    border-radius: 0.19rem;

    &-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      &::after {
        content: "";
        background-color: $_red-600;
        height: 0.1rem;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $_z1;
      }
    }
  }

  &__wrap-items {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;

    & ul {
      font-size: 1.6rem;
    }
  }

  &__item {
    display: inline-block;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    & a {
      color: $_dark-900;
      padding: 0 1rem;
      display: inline-block;
      border-right: 0.06rem solid $_dark-900;
      text-decoration: none;
    }

    &:last-child a {
      border: none;
    }
  }

  &__list-title {
    color: $_dark-900;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__inner {
    max-width: 695rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    & p {
      color: $_boulder;
      font-size: 1.3rem;
      margin: 0.5rem 0;
    }

    & a {
      color: $_boulder;
      display: inline-block;
      font-size: 1.5rem;
      margin: 0 0.25rem 0 0;
    }
  }
}
