.layout {
  display: flex;
  justify-content: center;

  &__container {
    padding-top: 1.6rem;
    width: $layout-width-sm;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include tablet {
      padding-top: 2.4rem;
      width: $layout-width;
    }
  }
}
