.layout {
  display: flex;
  justify-content: center;

  &__container {
    padding: 1.6rem 0;
    width: $layout-width-sm;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include tablet {
      padding: 2.4rem 0;
      width: $layout-width;
    }
  }
}
