.cardImageV {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  &__dark {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    color: $_white;
    background-color: $_bg-card-dark;
  }
  &__image {
    width: 215px;
    height: 120.94px;
    object-fit: cover;
  }
  &__info {
    margin-left: 2rem;
  }

  &__date {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 0;
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    padding: 0.5rem 0;
  }
}
